*{
    padding: 0px;
    margin: 0px;
}
body{width: 100%;}
    /* height: 4000px; */
    .section1 {
        width: 100%;
        padding-top: 1px;
        height: 100vh;
        margin-top: -1px;
        background-color: transparent;
        background-image: url(../img/hero-bg2.jpg);
        background-size: 100% 100%;
    }
    .section1 .navebar {
        position: fixed;
        width: 100%;
        height: 11vh;
        /* height: auto;
        overflow: auto; */
        flex-wrap: wrap;
        justify-content: space-around;
        display: flex;
        background-color: black;
        z-index: 99999;
    }
    .section1 .navebar .floatleft{
        width: 30%;
        height: 100%;
        /* background-color: #fff; */
    }
    .section1 .navebar .floatleft ul{
        width: 100%;
        height: 100%;
        /* background-color: red; */
       
    }
    .section1 .navebar .floatleft .ul .floatleft{
    
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 20px;
    margin-left: -40px;
    
    }
    .section1 .navebar .floatleft .ul .floatleft a{
        color: white;
        font-size: 30px;
        list-style-type: none;
        text-decoration: none;
    
    }
    .section1 .navebar .floatleft .ul .floatleft a:hover{
        text-shadow: 1px 1px 30px white,-1px -1px 30px rgba(22, 161, 154, 0.699);
    }
    .section1 .navebar .floatright{
        width: 50%;
        height: 100%;
        /* background-color: #21413C; */
      
        overflow: hidden;
    }
    
    .section1 .navebar .floatright .ul1{
        width: 100%;
        height: 100%;
        /* background-color: red; */
        margin-top:25px;
        display: flex;
        justify-content: space-around;
    }
    .section1 .navebar .floatright .ul1 .floatright{
        /* margin-right: -100px; */
    width: 10%;
    height: 50%;
    
    }
    .section1 .navebar .floatright .ul1 .floatright a{
        color: rgba(165, 163, 163, 0.555);
        font-size: 18px;
        list-style-type: none;
        text-decoration: none;
        transition: all ease-in-out 0.5s;
        padding-bottom: 8px;
    }   
    .section1 .navebar .floatright .ul1 .floatright a:hover{
        color: white;
        border-bottom: 1px solid #3b7068 ;
        
    }
    
    .section1 .content {
        width: 100%;
        height: 89vh;
        margin-top: 11vh;
        background-color: #00000070;
        padding-top: 1px;
    }
    
    .section1 .content .calm{
    width: 100%;
    text-align: center;
    height:200px ;
    /* background-color: #46BCA6; */
    margin-top: 30vh;
    }
    .section1 .content .calm h1{
    font-size:50px ;
    color: white;
    text-shadow: 1px 1px 10px black,-1px -1px 10px black;
    
    }
    .section1 .content .calm p{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 10px black,-1px -1px 10px black;
    color: white;
    }
    .section1 .content .calm button{
        width: 18%;
        height: 8vh;
        font-size: 20px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        border-radius: 10px;
        transition: all ease-in-out 0.5s;
    }
    .section1 .content .calm button:hover{
        background-color: #265851ce;
        border: 2px solid #265851ce;
        box-shadow: 1px 1px 30px black,-1px -1px 30px black;
    }
    
    /* =================start media=================== */
    @media (max-width:1024px){

        .section1 .navebar .floatright .ul1 .floatright {
            width: 14%;}

    }
    @media(max-width:768px){
        .section1 .navebar {
            position: fixed;
            width: 96.3%;}
        .section1 .navebar .floatleft .ul .floatleft {
            margin-top: 15px;    
        }
        .section1 .navebar .floatright .ul1 .floatright {
            width: 18%;
        }
        .section1 .navebar .floatright .ul1 .floatright a {
            font-size: 15px;
            margin-left: 10px;
        }
        .section1 .navebar .floatright {
            width: 55%;}
            .section1 .content .calm button {
                width: 20%;
                font-size: 18px}
    }
    
    @media(max-width:425px){
        .section1 .navebar .floatleft {
            width: 20%;}
        .section1 .navebar .floatleft .ul .floatleft {
            margin-top: 20px;
            margin-left: -10px;}
        .section1 .navebar .floatleft .ul .floatleft {
            margin-top: 17px;
        }
        .section1 .navebar .floatright .ul1 {
            margin-top: 23px;}
        .section1 .navebar .floatright .ul1 {
            width: 100%;
            height: 100%;
            /* background-color: red; */
            margin-top: 23px;
            margin-right: 0px;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-around;
        }
        .section1 .navebar .floatright .ul1 .floatright {
            width: 18%;
            padding-right: 20px;
            margin-right: 0px;
            margin-top: -16px;
        }
        .section1 .content .calm h1 {
            font-size: 40px;}
        .section1 .content .calm p {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 30px;}
        .section1 .content .calm button {
            width: 34%;
            height: 40px;
            font-size: 18px;
        }
        }
    
        @media (max-width:375px){
        .section1 .content .calm button {
            width: 34%;
            height: 40px;
            font-size: 15px;
        }
        .section1 .navebar .floatright .ul1 .floatright a {
            font-size: 15px;
            margin-left: 6px;
        }
    }
    @media(max-width:320px){
        .section1 .navebar .floatright {
            width: 58%;
            margin-right: -20px;
        }
        .section1 .navebar {
            position: fixed;
            width: 91.3%;
        }
        .section1 .navebar .floatright .ul1 .floatright a {
            font-size: 14px;}
            .section1 .content .calm button {
                width: 38%;
                height: 40px;
                font-size: 15px;
            }

    }
    /* =================end media=================== */
    

.div1{
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 1px -20px;
    display: flex;
    justify-content: center;
}
.div1 .image{
width: 40%;
height: 500px;
background-image: url('../img/about-img.jpg');
 background-size: 100% 100%;
margin: 80px 30px ;
}
.div1 .text{
    width: 40%;
    height: 500px;
    background-color: white;
  margin: 80px 0px;

}
.div1 .text h4{
    width: 100%;
    font-size: 35px;
    font-family: Noto Sans Korean;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.712);
}
.div1 .text p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.651);
}
.div1 .text .ps{
    padding: 40px 0px 0px 0px;
    width: 100%;
    height:25% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div1 .text .ps .ps1{
    width: 20%;
    height: 80%;

}
.div1 .text .ps .ps1 img{
    width: 100%;
    height: 100%;
}
.div1 .text .ps .ps2{
    width: 70%;
    height: 70px;
    margin: 0px 0px 0px 5px;
    /* line-height: 20px; */
}
.div1 .text .ps .ps2 h4{
width: 100%;
font-size: 25px;
line-height: 40px;
padding-top: 5px;
}
.div1 .text .ps .ps2 p{
font-size: 18px;
width: 100%;

}
/* ==========================start=================== */
@media(max-width:1024px){
    .div1 {
        height: 130vh}
    .div1 .image {
        margin: 100px 40px 0px 0px;
        padding: 0px 92px 88px 0px;
              }
        
}
@media(max-width:768px){
    .div1{
        height: auto;
        flex-wrap: wrap;
    }
    .div1 .image{
        width: 70%;
        margin: 120px 0px 0px 0px;
                  }
    
    .div1 .text{
        width:80%;
    }
    .div1 .text .ps .ps2 h4{
        padding-top: 8px;
        }
}
@media(max-width:425px){
        .div1 .text{height: 1000px;}
        .div1 .image{
        margin: 120px 0px 0px 0px;}
        .div1 .text .ps{
            padding: 30px 0px 10px 0px;
        }
    .div1 .text .ps .ps1 {
        width: 35%;
        height: 47%;
        /* padding: 10px 0px 10px 0px; */
    }
    .div1 .text .ps .ps2{
        width: 70%;
        height: 300px;
        padding: 0px 0px 20px 0px;
        /* line-height: 20px; */
    }
 
    .div1 .text .ps .ps2 h4 {
        width: 100%;
        font-size: 24px;
        line-height: 40px;
        padding-top: 5px;
    }
}
@media(max-width:375px){
    .div1 .image{
        width: 80%;
        height: 400px;}
    .div1 .text .ps .ps2{
        padding: 0px 0px 20px 0px;}
    .div1 .text .ps .ps2 h4 {
        font-size: 20px;}
        .div1 .text .ps .ps2 p{
            font-size: 15px;
        } 
        .div1 .text h4{
            font-size: 25px;
            line-height: 35px;
        }
        .div1 .text p{
            font-size: 18px;
        }
}
@media (max-width: 375px){
.div1 .text .ps .ps2 h4 {
    font-size: 18px;}
}
/* ==========================end====================== */

.block{
    width: 100%;
    height:110vh ;
    background-color:#F2F9F8;
    display: flex;
    flex-wrap: wrap;

}
.block .ss{
   width: 25%;
   height: 230px;
   text-align: start;
   margin: 50px 0px 50px 80px;
   padding: 50px 0px 0px 50px;
   font-family: Tajawal;
   border-bottom: 1px solid #cfe7e3;
   border-right: 1px solid #cfe7e3;
}
.block .ss h1{
padding-bottom: 20px;
color: #1BAC91;
font-size: 28px;
font-weight: 300;
}
.block .ss h4{
    font-size: 28px;
    margin-bottom: 20px;
    color: #708581;
    font-weight: 200;
}
.block .ss p{
width: 100%;
font-size: 18px;
color: #81a09b;
}
/* ==========================start===================== */
@media(max-width:1024px){
    .block .ss{ 
    width: 21%;
    margin: 40px 0px 50px 80p}
    .block .ss h1{font-size: 18px;}
    .block .ss h4{
        font-size: 20px;
    }
    .block .ss p{
        width: 90%;
        font-size: 15px;
    }
    #s4{
        margin: -97px 0px 0px 80px!important;
       }
       #s5{
        margin: -97px 0px 0px 0px!important;
       }
       #s6{margin: -97px 0px 0px 10px!important;}
    
}
@media(max-width:768px){
    .block .ss{ 
        padding: 30px 5px 0px 50px!important;
    margin: 50px 0px 50px 50px; }
  #s4{
   margin: -90px 0px 50px 50px !important; padding: 50px 5px 10px 50px!important;
  }
  #s5{
    padding: 50px 5px 10px 50px !important;
  }
  #s6{padding: 50px 5px 10px 30px!important;}
}
@media(max-width:425px){
    .block{height: 240vh;
    }
    .block .ss{ 
        width:100% !important;
        border-right: none !important;
        margin: 30px 0px 0px 0px !important;
        padding: 0px 0px 20px 50px !important;
        height: 150px !important;
        border-bottom: 1px solid #cfe7e3 !important;   }
    #s4{
        width:100% !important;
        border-right: none !important;
        margin: 30px 0px 0px 0px !important;
        padding: 0px 0px 20px 50px !important;
        height: 150px !important;      
    }
       #s5{
        width:100% !important;
        border-right: none !important;
        margin: 30px 0px 0px 0px !important;
        padding: 0px 0px 40px 50px !important;
        height: 150px !important;       
    }
       #s6{
        width:100% !important;
        border-right: none !important;
        margin: 30px 0px 0px 0px !important;
        padding: 0px 0px 20px 50px !important;
        height: 150px !important;
        border-bottom: none !important;
    } 
  }
/* ==========================end===================== */
.about{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about .abouttext{
    
    width: 28%;
    height: 120px;
    margin-top:70px ;

   
    /* color: transparent; */
}

.about .abouttext a{
    text-decoration: none;
}
.about .abouttext .text{
    width: 100%;
    height: 80%;
    padding: 15px 0px 0px 15px;
    margin: 5px 0px 0px 5px;
    border-radius: 7px 100px 100px 7px;
    transition: all 1s;
    /* color: transparent; */
}
.about .abouttext .text:hover{
    transform: scale(1.1,1.1);
    box-shadow: 1px 1px 10px #b3d1cd ,-1px -1px 10px #d3e7e4 ;
    
    
    }

.about .abouttext .text h4{
    text-transform: capitalize;
font-size: 25px;
color: #1BAC91;
padding-bottom: 10px;
}
.about .abouttext .text p{
font-size :18px; 
color: #81a09b;
transition: all 1s;
}
.about .abouttext .text p:hover{
    color: #1BAC91;
}
.aboutimg{
    width: 60%;
    height: 520px;
    margin-top: 40px;
    margin-left: 30px;
}
.aboutimg img{
    width: 70%;
    height: 100%;
}
/* ==========================start================= */
@media(max-width:768px){
    .about .abouttext .text h4{
        font-size: 18px;
    }
    .about .abouttext .text p{
        font-size :15px;}
}
@media(max-width:425px){
    .about{ height:200vh ;}
    .about .abouttext {
        width:75%;
        margin-bottom: 30px;
}
.aboutimg{
    width: 70%;
    height: 300px;}
    .aboutimg img{
        width: 100%;
        height: 100%;
    }
}



/* ==========================emd================= */
.services{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #F1F8F7;
    padding-top:60px ;
}
.services h1{
font-weight: 10;
font-size: 40px;
color: #50746e;
padding-bottom:40px ;
}
.services p{
    width: 80%;
    font-size: 18px;
color: #50746e;
margin: 0px 10% 0px 10%;
padding-bottom:40px ;
}
.services .p{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}
.services .p .pik{
    width: 22%;
    height: 300px;
    background-color: white;
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 100px #50746e, -1px -1px 5px #000000;
    transition: all ease-in-out 0.5s;
    
}
.services .p .pik:hover{
transform: scale(1.1,1.1);
}
.services .p .pik .all{
    width: 100%;
    height: 100%;
    /* display: flex; */
    text-align: center;

overflow: hidden;
}
.services .p .pik .all .image{
    width: 20%;
    height: 20%;
    margin-left:120px ;
    margin-top: 50px;
}
.services .p .pik .all .image img{
    width: 100%;
    height: 100%;
}
.services .p .pik .all a{
text-decoration: none;
}
.services .p .pik .all a h4{
    width: 50%;
color: black;
font-size: 20px;
margin-top: 20px;
margin-left: 80px;
}
.services .p .pik .all p{
    width: 60%;
    color: #708581;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 65px;
}

/* ========================start================ */


@media(max-width:1024px){

    .services .p .pik {
        width: 21%}
        .services .p .pik .all .image{
        
            margin-left:85px ;
            margin-top: 50px;
        }
        .services .p .pik .all a h4{
        font-size: 18px;
        margin-left: 55px;
        }
        .services .p .pik .all p{
            font-size: 15px;
            margin-left: 45px;
        }
}
@media(max-width:768px){
    .services .p .pik {
        width: 20%}
        .services .p .pik .all .image{
        
            margin-left:55px ;
            margin-top: 50px;
        }
        .services .p .pik .all a h4{
        font-size: 16px;
        margin-left: 35px;
        }
        .services .p .pik .all p{
            font-size: 12px;
            margin-left: 30px;
        }
}

@media(max-width:425px){
    .services{
        height: 300vh;
        margin-top:-200px ;
    }
    .services .p .pik{
        width: 75%;
        height: 300px;
        background-color: white;
        margin-top: 40px;
        margin-left: 20px;
        /* border-radius: 300px; */}
        .services .p .pik .all .image{
        
            margin-left:120px ;
            margin-top: 50px;
        }
        .services .p .pik .all a h4{
        font-size: 22px;
        margin-left: 80px;
        }
        .services .p .pik .all p{
            font-size: 18px;
            margin-left: 70px;
        }
}
@media(max-width:375px){
    .services .p .pik{
        width: 75%;
        height: 270px;}
    .services .p .pik .all .image{
        
        margin-left:110px ;
        margin-top: 40px;
    }
    .services .p .pik .all a h4{
    font-size: 22px;
    margin-left: 70px;
    }
    .services .p .pik .all p{
        font-size: 18px;
        margin-left: 60px;
        margin-top: 10px;
    }
}

@media(max-width:320px){
    .services{
        height: 270vh;}
    .services .p .pik{
        width: 75%;
        height: 240px;
        background-color: white;
        margin-top: 40px;
        margin-left: 20px;
        /* border-radius: 360px; */
    }
        .services .p .pik .all .image{
        
            margin-left:90px ;
            margin-top: 30px;
        }
        .services .p .pik .all a h4{
        font-size: 20px;
        margin-left: 60px;
        }
        .services .p .pik .all p{
            font-size: 16px;
            margin-left: 50px;
            margin-top: 20px;
        }
}

/* ========================end================ */

.tt{
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 40px;

}
.tt h3{
    font-size: 40px;
    color: #617a76;


}
.tt p{
    font-size: 20px;
    margin: 30px 0px 20px 0px;
}
.tt .ttp{
    /* background-color: #000000; */
    width: 100%;
    height:300px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.tt .ttp .ttp1{
    width: 25%;
    height: 45vh;
    background-color: white;
    margin-left: 85px;
   
}
.tt .ttp .ttp1 .pik{
width: 100%;
font-size: 18px;
background-color: #d2f1ed4b;
padding: 30px 0px 50px 0px;
margin: 47px 0px 0px 0px;color: #81a09b;
font-weight: 100;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
box-shadow:-1px -1px 100px #b3d1cd ;
border-bottom: none;

}
.tt .ttp .ttp1 .all{
    width: 50%;
    margin-left: 30px;
    margin-top: -30px;
    border-radius: 90px;
    text-align: start;
}
.tt .ttp .ttp1 .all .image{
    margin-top: -35px;
width: 70px;
height: 70px;
border-radius: 100px;
border: 10px solid white;
border-top: none;
border-bottom: none;
box-shadow: 1px 1px 10px #000000 ,-1px -1px 10px #b3d1cd ;

}
.tt .ttp .ttp1 .all .image img{
width: 100%;
height: 100%;
border-radius: 90px;
    }
.tt .ttp .ttp1 .all h4{
font-size: 20px;
padding-top: 10px;
font-weight: 900;
color: #1BAC91;   
}
.tt .ttp .ttp1 .all p{
font-size: 20px;
font-weight: 100;
color: #617a76;
margin-top: 0px;
}
/* ========================start====================== */

@media(max-width:1024px){
.tt p {
    font-size: 18px
}
}
.tt .ttp .ttp1 {
    margin-left: 69px;
}
@media(max-width:768px){
    .tt p {
        font-size: 15px
    }
    .tt .ttp .ttp1 {
        width: 25%;
        margin-left: 53px;
    }
    .tt .ttp .ttp1 .all h4{
        font-weight: 500;
    }
}
@media(max-width:425px){
    .tt .ttp .ttp1 {
        width: 75%;
        height: 60vh;}
    }
    @media(max-width:375px){
        .tt {
            height: 146vh;}
        tt .ttp {
            height: 1375px;}
        .tt .ttp .ttp1 {
            height: 66vh;
        }
    }
@media(max-width:325px){
    .tt .ttp .ttp1 {
        height: 65vh;}
}



/* =============================end======================== */




















